# Extracting Labels by start/end in seconds from .its audio file

First at command line run the following code which takes the perl script from github 

Instructions: https://github.com/HomeBankCode/lena-its-tools/blob/master/Documentation/Using_readits.md <br>
Source for readits_start_end_content.pl: https://github.com/HomeBankCode/lena-its-tools/blob/master/readits_start_end_content.pl <br>

_Note_: RunFolder_readits.sh is a shell script that allows you to run "readits_start_end_content.pl" on an entire folder of LENA ITS files (will be useful if we decide to use this approach)

In [5]:
# I can't run this in my Windows Jupyter Notebook - did this on the command line instead but sharing here
# may want to choose an alternative argument to IgnoreOverlap


# !perl readits_start_end_content.pl e20100319_142601_003752.its child.txt adult.txt combo.txt IgnoreOverlap 500

'perl' is not recognized as an internal or external command,
operable program or batch file.

In [31]:
import pandas as pd
import numpy as np

In [35]:
#child dataframe, reported in seconds
child = pd.read_csv('child.txt', sep="\t", header=None)
child.columns = ["start","end", "utt","cry"]
child['label']='child'
child = child[['label','start', 'end', 'utt', 'cry']]
child.head()

   label  start    end   utt   cry
0  child  12.64  13.24  0.60  0.00
1  child  52.94  54.24  0.60  0.00
2  child  55.30  57.54  1.20  0.00
3  child  68.95  69.78  0.24  0.24
4  child  73.31  74.13  0.67  0.00

In [36]:
#child dataframe, reported in seconds
adult = pd.read_csv('adult.txt', sep="\t", header=None)
adult.columns = ["start","end"]
adult['label']='adult'
adult['utt']= np.nan
adult['cry']= np.nan
adult = adult[['label','start', 'end', 'utt', 'cry']]
adult.head()

   label  start    end  utt  cry
0  adult   4.49   6.13  NaN  NaN
1  adult  18.98  19.58  NaN  NaN
2  adult  22.81  23.82  NaN  NaN
3  adult  30.91  31.91  NaN  NaN
4  adult  35.21  36.21  NaN  NaN

In [44]:
# Stack the DataFrames on top of each other and sort by start time
combo = pd.concat([child, adult], axis=0)
combo = combo.sort_values(by=['start'])
combo.head()

   label  start    end  utt  cry
0  adult   4.49   6.13  NaN  NaN
0  child  12.64  13.24  0.6  0.0
1  adult  18.98  19.58  NaN  NaN
2  adult  22.81  23.82  NaN  NaN
3  adult  30.91  31.91  NaN  NaN

In [45]:
#not needed yet
#combo['start'] = pd.to_numeric(combo['start'])